.home-container {
    background-image: url('/assets/home_background.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .clickable-area {
    position: absolute;
    cursor: pointer;
  }

  .experiences {
    top: 73%;
    left: 27%;
    width: 7%;
    height: 18%;
    border: 1px solid red;
  }