.projectbook-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  
  .clickable-area {
    position: absolute;
    cursor: pointer;
  }

  .next-page {
    bottom: 10%;
    right: 10%;
    width: 10%;
    height: 10%;
    border: 1px solid red;
  }

  .previous-page {
    bottom: 10%;
    left: 10%;
    width: 10%;
    height: 10%;
    border: 1px solid orange; 
  }

  .close-book {
    top: 10%;
    right: 10%;
    width: 10%;
    height: 10%;
    border: 1px solid green; 
  }