/* Common styles */
.page-text-block {
    font-family: 'Quintessential', cursive;
    color: #1a1a1a;
    padding: 1rem;

  }

  .page h2 {
    font-family: 'Quintessential', cursive;
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .text-fullpage {
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%); 
    width: 100%; 
    max-width: 750px;  
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.5;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Lora', serif;

  }
   
  .text-quotation {
    text-align: center;
    font-family: 'Quintessential', cursive;
    font-size: 1.5rem;
    line-height: 1.4;
    width: 100%; 
    max-width: 800px;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  }
  
  .text-quotesource {
    font-family: 'Lora', serif;
    color: #1a1a1a;
    padding: 1.1rem;
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%); 
    width: 80%; 
  }
  
  
  /*PAGES BY PAGES STYLES*/

  .prologue-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    filter: sepia(0.4) contrast(0.9) brightness(1.05);
  }

.questreport-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  max-width: 900px;
  filter: sepia(0.4) contrast(0.9) brightness(1.05);
}
