

/* General book container */
.book-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("/assets/booktable_background.png");
  height: 100vh;
  padding-bottom: 25px; 
  overflow: hidden;
}

/* Standard book page */
.page {
  background-image: url("/assets/parchemin_V2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #1a1a1a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 40px 30px;
  box-shadow: none;
  border-radius: 1%;
}

.page-cover {
  width: 850px;
  height: 800px;
  padding: 0;
  margin: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 1%;
  box-shadow: 0 8px 20px rgb(0, 0, 0);
}
