/* Texte animé avec machine à écrire */
.typewriter-output {
    display: block;              
    white-space: pre-wrap;      
    overflow: hidden;
    position: relative;
    text-align: center;
    animation: typewriter-appear 0.5s ease-out forwards;
  }
  
  /* Apparition du texte */
  @keyframes typewriter-appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

